/* Code goes here */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url(./img/vector-jan-2021-19_generated.jpg);
    background-size: cover;
    /* background: linear-gradient(to bottom right, #432f70 0%, #0f0027 100%); */
}

h1.welcome {
    color: rgb(133, 141, 255);
    font-size: 40px;
    margin: 0.4cm;
    text-align: center;
}

div.boop {
    background-color: #fff;
    border-radius: 10px;
    max-width: 400px;
    padding: 0.4cm;
    margin: 0.4cm;
    text-align: center;
}

.row {
    display: flex;
    max-width: 600px;
}
  
/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
    text-align: center;
    color: white;
    margin: 10px;
    border: 5px solid white;
    border-radius: 15px;
    transition: all .3s ease-in-out;
    font-weight: bolder;
}
img.icon {
    width: 100px;
    height: auto;
    border: 5px solid white;
    border-radius: 30px
}

.column:hover {
    transform: scale(1.1);
}

div.mobile {
    visibility: hidden;
}

img.github {
    width: 170px;
    vertical-align: middle;
    margin-left: 5px;
}

div.thing>a {
    text-decoration: none;
    color: black;
    font-size: 0.7cm;
}

div.thing {
    background-color: white;
}

@media screen and (max-width: 600px) {
    .column {
        font-size: 14px;
    }
    .column:hover {
        transform: scale(1.05);
    }
    .column#a:hover {
        transform: scale(1.02);
    }
    img.github {
        width: 120px;
        vertical-align: middle;
        margin-left: 5px;
    }
    div.thing>a {
        text-decoration: none;
        color: black;
        font-size: 0.5cm;
    }
}

div.woosh {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 1s ease-in-out;
    animation: woosh 1s ease-in-out none;
    -webkit-animation: woosh 1s ease-in-out none;
    animation-fill-mode: forwards;
}

@keyframes woosh {
    0% {
        transform: scaleX(1)
    }
    100% {
        transform: scaleX(0)
    }
}

a#copy {
    color: rgb(42, 48, 128);
    text-decoration: none;
    font-weight: bold;
}


